.profile__edit-button{
    width: 10px;
    height: 10px;
    padding: 6px;
    border: 1px solid white;
    margin: 15px 0 0 0;
    opacity: 1;
    transition: opacity 0.5s ease 0s;
}

.profile__edit-button:hover{
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width:425px){
    .profile__edit-button{
        width: 7px;
        height: 7px;
        padding: 5px;
    }
}