.popup__input{
    border:none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin: 0 0 30px 36px;
    font-family: inherit;
    max-width: 358px;
}

.popup__input:last-of-type{
    margin-bottom: 48px;
}

.popup__input:focus{
    outline:none;
}

@media screen and (max-width:510px){
    .popup__input{
        margin-left: 27px;
        max-width: 260px;
    }
}

@media screen and (max-width:425px){
    .popup__input{
        width: 238px;
        margin: 0 auto 30px auto;
    }
}