.popup__container{
    width: 430px;
    background-color: white;
    border-radius: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
    z-index: 1;
    position: relative;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s ease-in;
}

.popup:hover .popup__container{
    visibility: visible;
    opacity: 1;
}

@media screen and (max-width:510px){
    .popup__container{
        width: 330px;
    }
}

@media screen and (max-width:425px){
    .popup__container{
        max-width: 282px;
    }
}