.element__input-style{
    display: inline-block;
    vertical-align: middle;
    width: 22px;
    height: 19px;
    background-image: url(../../../image/logo/heart.svg);
    opacity: 1;
    transition: opacity 0.4s ease 0s;
}

.element__input-style:hover{
    opacity: 0.5;
    cursor: pointer;
}

.element__input:disabled + .element__input-style  {
    background-image: url(../../../image/logo/heart.svg);
}

.element__input:checked + .element__input-style {
    background-image: url(../../../image/logo/bheart.svg);
}