.edit-form__container{
    width: 430px;
    height: 330px;
    background-color: white;
    border-radius: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
    z-index: 1;
    position: relative;
}

@media screen and (max-width:510px){
    .edit-form__container{
        width: 330px;
        margin-top: 150px;
    }
}

@media screen and (max-width:425px){
    .edit-form__container{
        max-width: 282px;
        margin: 123px auto 0 auto;
    }
}