.element{
    background-color: white;
    width: 282px;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    overflow: hidden;
}

@media screen and (max-width:425px) {
    .element{
        margin-top: 20px;
    }
    .element:first-of-type{
        margin-top: 0;
    }
}